<main class="main">
  <mat-toolbar class="header">
    <h1>Get A Clue</h1>
  </mat-toolbar>
  <div
    class="my-container"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="10px"
  >
    <mat-card class="item-cards">
      <mat-card-header> <h2>Suspects</h2> </mat-card-header>
      <mat-card-content>
        <span *ngFor="let item of gameState.Suspects">
          <p>
            {{ item.Name }}
          </p>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card class="item-cards">
      <mat-card-header>
        <h2>Weapons</h2>
      </mat-card-header>
      <mat-card-content>
        <span *ngFor="let item of gameState.Weapons">
          <p>
            {{ item.Name }}
          </p>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card class="item-cards">
      <mat-card-header> <h2>Locations</h2> </mat-card-header>
      <mat-card-content>
        <span *ngFor="let item of gameState.Locations">
          <p>
            {{ item.Name }}
          </p>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</main>

<router-outlet />
