<mat-toolbar class="header">
  <mat-toolbar-row>
    <h1>Get A Clue</h1>
    <span style="flex: 1 1 auto"></span>
    <button mat-raised-button color="primary" (click)="resetCard()">
      Reset Card
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main class="main">
  <div class="container">
    <div
      class="d-flex flex-wrap justify-content-lg-evenly justify-content-sm-evenly align-items-center"
      style="width: 100%"
    >
      <ng-container *ngFor="let category of categories">
        <mat-card class="mb-3 mb-xxl-0">
          <mat-card-header>
            <h2>{{ category }}</h2>
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngFor="let item of gameState[category]">
              <app-deduction-item
                [currentStatus]="item.Status"
                [name]="item.Name"
                [category]="category"
                (statusUpdate)="onStatusUpdate($event)"
              ></app-deduction-item>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
    <div
      class="d-flex flex-wrap justify-content-lg-evenly justify-content-sm-evenly align-items-center"
      style="width: 100%"
    >
      <ng-container *ngFor="let category of categories">
        <div>
          <mat-list class="row">
            <h2>{{ category + " Left" }}</h2>
            <ng-container *ngFor="let item of gameState[category]">
                <ng-container *ngIf="item.Status != 2">
                  <mat-list-item>
                    {{ item.Name }}
                  </mat-list-item>
                </ng-container>
            </ng-container>
          </mat-list>
        </div>
      </ng-container>
    </div>
  </div>
</main>

<router-outlet />
